@page
@model RegisterModel
@{
    ViewData["Title"] = "Signup";
}

<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Register</h3>
                <hr class="login-hr">
                <!-- p class="subtitle has-text-black">Please login to proceed.</p -->
                <div class="box">
                    <figure class="avatar">
                        <img src="https://placehold.it/128x128">
                    </figure>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="field">
                            <div class="control">
                                <input asp-for="Input.Email" class="input is-large" type="email" placeholder="Your Email" autofocus="">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input asp-for="Input.Password" class="input is-large" type="password" placeholder="Your Password">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input asp-for="Input.ConfirmPassword" class="input is-large" type="password" placeholder="Confirm Your Password">
                            </div>
                        </div>
                        <button class="button is-block is-info is-large is-fullwidth">Register <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                    </form>
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <hr class="external-account-splitter">
                            <button type="submit" class="button is-block is-info is-large is-fullwidth" 
                            name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                Register via @provider.DisplayName
                            </button>
                        }
                    </form>
                </div>
                <p class="has-text-grey">
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot password</a>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Signup</a>
                    <a href="/help.html">Need Help?</a>
                </p>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<!--
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
-->
